body{
    margin: 0 auto;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80vw;
}

ul, li, a {
    list-style: none;
    text-decoration: none;
    white-space:nowrap;
}

header{
    width: 80vw;
}

nav{
    display: flex;
    align-items: flex-end;
    background-color: #162133;
   
    height: 7rem;
}

nav img{
    height: 80px;
    width: auto;
    margin: auto 0;
}

.nav-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: baseline;
}

li a{
    margin: 20px 38px 0px 38px;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    position: relative;
}

li a::after {
        content:"";
        border-bottom: 2px solid #007BE0;
        left: 50%;
        position: absolute;
        top: 110%;
        transition: all .2s ease-in-out;
        width: 0%;
}
    
li a:hover::after {
        left: 0;
        width: 100%;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.hero-banner{
    position: relative;
}

.hero-banner img{
    width: 80vw;
}

.hero-banner a{
    position: absolute;
    padding:1rem;
    background-color: #007BE0;
    color: white;
    text-transform: uppercase;
    white-space:nowrap;
    right:5%;
    bottom:13%;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.hero-banner a:hover {
    box-shadow: 0 0 10px 0 #248ee4 inset, 0 0 20px 2px #248ee4;
    border: 3px solid #248ee4;
}

section{
    margin: 2% 0%;
}

#plus_loin{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    background-color:#152848 ;
    margin:5% 0;
}

#plus_loin h2{
    color:white;
    text-transform: uppercase;
    font-weight: lighter;
}

.plus_loin_items{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
    color: white;
    text-transform: uppercase;
    ;
}

.plus_loin_items div{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color:#007BE0;
    padding:2rem;
    width: 10rem;
    height: 6rem;
    margin: 2% 2%;
}

.plus_loin_items div img{
    width: 4rem;
    height: 4rem;
    margin-top: 20px;
}

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
}
  
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-back {
    background-color: #13315c;
    color: white;
    transform: rotateY(180deg);
}

#offres{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#offres h2{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}    

.offres_items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.offres_items div{
    margin:0.1%;
}

.offres_items img{
    width: 31rem;
    height: auto;
}

.offres_items h5{
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    margin: 6% 2% 0% 2%;
}

.offres_items p{
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin:2% 2%;
}

.offres_items a p{
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem;
    background-color: #152848;
    color: white;
    width: fit-content;
    margin-top: 1.4rem;
}

.offres_items a p:hover {
    box-shadow: 0em 0em 1em #0847bb9f;
    transition: .5s;
  }

#best-sellers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#best-sellers h2{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}    

.best-sellers_items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 74vw;
}

.best-sellers_items div{
    border: 2px solid #0000001e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.best-sellers_items img{
    width: 26rem;
    height: auto;
}

.best-sellers_items p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin:2% 2%;
}

.best-sellers_items a p{
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem;
    background-color: #007BE0;
    color: white;
    width: fit-content;
    margin: 2rem auto;
}

.best-sellers_items a p:hover{
    box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px #007BE0, 0px 0px 0px 10px white, 0px 0px 0px 10.5px #007BE0;
    background: white;
    color: #007BE0;
}

#actu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#actu h2{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}    

#actu h6{
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}  

.actu_items{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    width: 74vw;
}

.actu_items div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 692px;
    margin: 0.1%;
}

.actu_items img{
    width: 43.3rem;
    height: auto;
}

.actu_items p{
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin:2% 0%;
}

.actu_items a p{
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem;
    background-color: #152848;
    color: white;
    width: fit-content;
    cursor: pointer;
    outline: 1px solid;
    outline-color: rgba(71, 126, 232,0.5);
    outline-offset: 2px;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.actu_items a p:hover {
    color: rgba(187, 206, 245, 0.822);
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 300px;
}

.actu_items a {
    margin-left: -60%;
}

.footer_flex{
    background-color:#f3f3f3;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.footer_flex_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin:3%;
}

.footer_flex_item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 420px;
    margin:0% 1%;
}

.footer_flex_item h3{
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  border-bottom: 1.4px solid #c4c4c4;
  width: 100%;
  text-align: left;
  padding-bottom: 1.4rem;
  padding-left: 2%;
  color:#4d4c4c;
}

.footer_flex_item a{
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    margin:1.4% 0%;
    color:#4d4c4c;
}


  .footer_flex_item_phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin:0% 1%;
}

.footer_flex_item_phone h3{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    border-bottom: 1.4px solid #c4c4c4;
    width: 100%;
    padding-bottom: 1.4rem;
    color:#4d4c4c;
}

.footer_flex_item_phone a{
text-transform: uppercase;
font-size: 2rem;
font-weight: 300;
text-align: left;
margin:1.4% 0%;
color:#4d4c4c;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% 0%;
}

.social div{
    margin:0% .4%;
}

.social img{
    width: 2.6rem;
    height: auto;
    padding:2rem;
    background-color: white;
}

.footer_flex_btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
}

.footer_flex_btn a{
    padding: 1.2rem;
    box-shadow:inset 0 0 0.2em #4d4c4c42;
    width: 33vw;
    background-color: white;
    text-transform: uppercase;
    color: #4d4c4c;
    font-weight: 500;
}

.footer_flex_btn a:hover{
    background-color: #162133;
    color:white;
    font-weight: 300;
}

.footer_blank{
    width: 71vw;
    height: 10vh;
    margin: 0 auto;
    background-color: white;
    margin:1% auto;
    margin-bottom: 5vh;
}

.legal_info{
    width: 60vw;
    margin:3vh auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.legal_info a{
    text-transform: uppercase;
    color:#4d4c4c;
    font-size: 0.8rem;
    font-weight: 500;
}

@media screen and (max-width: 1800px){
    body{
        width:100vw;
    }
    header{
        width: 100vw;
    }
    .hero-banner img{
        width: 100vw;
    }
    .footer_flex{
        width: 100vw;
    }
    .actu_items{
        align-items:center;
        justify-content: center;
    }
}


@media screen and (max-width: 1445px){
    .nav-menu {
        position: fixed;
        left: -150%;
        top: 6rem;
        flex-direction: column;
        background-color: #fff;
        width: 100vw;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 50;
    }

    .nav-menu.active{
        left: 0;
    }

    .nav-item{
        margin: 2.5rem auto;
    }   
    .nav-link{
    color: #162133;
    font-size: 1.6rem;
    font-weight: bold;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        margin-bottom: 2rem;
        margin-left: 18rem;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .hero-banner a{
        font-size: 0.7rem;
        padding: 0.6rem;
        bottom: 5%;
    }
    .offres_items img{
        width: 24rem;
        height: auto;
    }    
    .actu_items img{
        width: 22rem;
    }
    .actu_items a {
        margin: 10% 0% 10% -10%;
    }
    .offres_items a p{
        margin: 10% 0%;
    }
    .footer_flex_btn a{
        font-size: 0.6rem;
    }
}

